################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExampleFile/v15/Server/sqlite3
/ExampleFile/bin/Debug/netcoreapp2.2
/ExampleFile/obj
/.vs
